.banner{
background-size: cover;
background-position: center;
padding: 200px 0;
}
.banner h1{
  color:white
}
.banner p{
  color: white;
  font-size: 20px;
}
.btn{
  background: rgb(106, 193, 94);
  padding: 12px 34px;
  color: white;
  border-radius: 50px;
  display: inline-block;
}
.container{
  width: 900px;
  margin: 0 auto;


}
